/* Custom CSS styles */

@import "../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html";


html,
body {
	height: 100%;
	margin: 0;
}
.project-images {
	width: 150px;
	height: 150px;
}

paper-toolbar.tall {
	  background-color: transparent;
	  height: 256px;
	}
#mid-header {
	width: 240px;
}
.purple {
	background-color: purple;
}

.green {
	background-color: green;
}
.test {
	width: 920px;
	margin-right: auto;
	margin-left: auto;
}

.biopic {
	border-radius: 150px;
}

<style is="custom-style">
:root {
	--paper-scroll-header-panel-full-header: {
		background-image: url(../images/Washington-800-1x.jpg);
	};
	--paper-scroll-header-panel-condensed-header: {
        background-color: #f4b400;
    };

}


</style>




/*
.paper-scroll-header-panel-0 #headerBg.paper-scroll-header-panel {
	background-color: green;
}

.paper-scroll-header-panel-0 #condensedHeaderBg.paper-scroll-header-panel {
  background-color: orange;
}
/*
paper-scroll-header-panel {
	background-color: var(grey, #eee);
	--paper-scroll-header-panel-condensed-header: {
        background-color: var(orange, #ff5722);
      };
	--paper-scroll-header-panel-full-header: {
        background-image: url(../images/movies.jpg);
      };
}




background-color: var(--paper-scroll-header-panel-full-header, green);

paper-scroll-header-panel {
      --paper-scroll-header-panel-full-header: {
        background-color: red;
      };
    }

paper-scroll-header-panel {
      --paper-scroll-header-panel-condensed-header: {
        background-color: #f4b400;
      };
    }