/* Custom CSS styles */
html,
body {
	height: 100%;
	margin: 0;
	background: #0e0e0e;
}

/* HEADER */

.title {
	padding: 100px 0 0 0;
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	transition: transform .5s ease-in;
}
.role {
	color: #0D7689;
}

.tabs-holder {
	width: 600px;
}
/* BODY BELOW HEADER Section */
.under-header-body {
	width: 900px;
	height: 813px;
	margin: auto;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0  6px 30px 5px rgba(0, 0, 0, 0.12),
		0  8px 10px -5px rgba(0, 0, 0, 0.4),
		0 -16px 24px 2px rgba(0, 0, 0, 0.14),
		0  -6px 30px 5px rgba(0, 0, 0, 0.12),
		0  -8px 10px -5px rgba(0, 0, 0, 0.4);
}

/* Bio Section */
#mid-header {
	width: 300px;
}

.biopic {
	border-radius: 150px;
	float: left;
	width: 150px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
		0 1px 8px 0 rgba(0, 0, 0, 0.12),
		0 3px 3px -2px rgba(0, 0, 0, 0.4);
}

.welcome-message {
	padding: 20px 5px 20px 5px;
}

hr {
	width: 85%;
}

.donut-container {
	font: 12px sans-serif;
	width: 200px;
	margin: auto;
	padding: 0 0 20px 0;
	color: #fff;
}

.name-button {
	margin: auto;
	width: 170px;
	display: block;
}

/* TABS */
.tab-div {
	height: 813px;
}

.under-tab {
	width: 600px;
}

.project-images {
	width: 150px;
	height: 150px;
}

#lets-connect h2{
	text-shadow: 2px 2px 2px #444444;
}

/* MAP STYLES infowindow  */

.info-title {
	font-size: 14px;
	background-color: #0D7689;
	border-radius: 2px 2px 0 0;
	color: white;
	padding: .4em;
	text-align: center;
}

.info-sub {
	font-size: 12px;
	line-height: 10px;
	color: #111;
	font-weight: 500;
	padding: .25em;
}

/* BACKGROUND COLORS */

#mid-header {
  background-color: #777;
}

#workExperience {
	background: #0D7689;
}

#projects {
	background: #8aae26;
}

#education {
	background: #f5684c;
}

#mapDiv {
	background: #52cfe2;
}

#lets-connect {
	background: #E6BC17;
}

/* MEDIA QUERIES */

@media screen and (max-width: 920px) {
	#mid-header {
		width: 250px;
	}

	.tabs-holder,
	.under-tab {
		width: calc(100% - 250px);  /*area left over from first section*/
	}

	.tab-div {
		height: 783px
	}

	.under-header-body {
		width: 100%;
		height: 783px;
	}

	h1 {
		font-size: 35px;
	}

	.role {
		font-size: 15px;
	}

	.biopic {
		width: 100px;
	}

	.welcome-message {
		padding: 5px;
	}
}

@media screen and (max-width: 639px) {
	#toolbar-header {
		padding: 40px 0 0 0;
		margin: 0;
	}

	#mid-header {
		width: 200px;
	}

	.tabs-holder,
	.under-tab {
		width: calc(100% - 200px)
	}

	h1 {
		font-size: 32px;
	}

	.role {
		font-size: 13px;
	}

	.biopic {
		display: block;
		margin: 0 auto 20px auto;
		float: none;
		transform: translateY(20px);
	}

	#skills {
		display: none;
	}

@media screen and (max-width: 500px) {
	#toolbar-header {
		padding: 0;
	}

	.tabs-holder,
	.under-tab,
	#mid-header {
		width: 100%;

	}

	#stationary-content {
		display:none;
	}

	.biopic {
		float: left;
		transform: none;
		width: 130px;
		margin: 20px;
	}

	.welcome-message {
		display: block;
		font-size: 25px;
		padding: 30px 5px;
	}

	h1 {
		font-size: 40px;
	}
}
